<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-md inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl m-4">Sign up</h1>

  <% if @user&.errors&.any? %>
    <div class="py-3 px-4 bg-red-50 mb-5 rounded-md">
      <h2 class="text-red-600 font-medium">Whoops! There is a mistake...</h2>
      <ul class="list-disc list-inside mt-2 text-red-500 text-sm">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, url: users_url, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", class: "block rounded-md border border-gray-300 focus:outline-none focus:border-gray-500 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter your password (minimum 8 characters)", maxlength: 72, class: "block rounded-md border border-gray-300 focus:outline-none focus:border-gray-500 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm your password", maxlength: 72, class: "block rounded-md border border-gray-300 focus:outline-none focus:border-gray-500 px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Sign up", class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 border border-gray-300 hover:bg-gray-50 text-gray-700 inline-block font-medium cursor-pointer" %>
      </div>
    </div>
  <% end %>
</div>
