<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Garage" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Garage">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="">
  <div class="max-w-5xl mx-auto flex flex-col">
    <!-- Header -->
    <%= render "layouts/partials/header" %>

    <!-- Content row -->
    <div class="flex flex-1 gap-4 items-start">
      <!-- Left sidebar -->
      <nav class="w-40 text-sm text-gray-700 m-4 p-4">
        <%= link_to "Popular", root_path, class: "block mb-2" %>
        <%= link_to "Explore", root_path, class: "block mb-2" %>
          <hr class="text-gray-300 pb-2"/>
        <% if authenticated? %>
          <%= link_to "Home", home_path, class: "block mb-2" %>
          <%= button_to "Sign out", session_path, method: :delete, class: "block mb-2" %>
        <% else %>
          <%= link_to "Sign in", new_session_path, class: "block mb-2" %>
          <%= link_to "Sign up", new_user_path, class: "block mb-2" %>
        <% end %>

      </nav>

      <!-- Main content -->
      <main class="flex-1 bg-white p-6 rounded min-h-screen">
        <%= yield %>
      </main>

      <!-- Right sidebar -->
      <aside class="w-48 text-sm hidden lg:block border border-gray-400 rounded-md m-4 p-4">
        Latest
        <hr class="text-gray-300"/>
      </aside>
    </div>
  </div>
  </body>
</html>
